.navbar {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #d5b0bf; 
  padding: 10px 20px;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  
}

.navbar img {
  height: 50px;
  width: auto;
  margin: 20px;
}