body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 70%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.form-content {
  display: flex;
  width: 100%;
}

.sundown {
  flex: 1; /* De afbeelding neemt de helft van de ruimte */
}

.sundown img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  flex: 1; /* Het formulier neemt de andere helft */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

.form-groep {
  margin-bottom: 15px;
}

button {
  padding: 10px;
  background: #d5dadf;
  color: white;
  border: none;
  cursor: pointer;
  margin: 30px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #acafb3;
  color: black;
  
}

a {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.form-groep input[type="email"],
.form-groep input[type="password"]
.form-groep input[type="text"]  {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}